<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title></title>
        
        <!--css導入リンク-->
        <link href="css/design.css" rel="stylesheet" type="text/css">
        <link href="css/global.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <trans class="translate">
            <li><a href="user_diligence" >勤怠入力</a></li>
            <li><a href="user_attendanceList" >勤怠状況一覧</a></li>
            <li><a href="adm_user_list" >ユーザー管理</a></li>
            <li><a href="adm_times" >勤怠時間集計</a></li>
            <li><a href="logout_check" >ログアウト</a></li>
         </trans>
 

        </br></br>

        <form action="user_edit_check" method="post" >
            <h1 class="center">ユーザー編集</h1>
            <p>名前</p>
            <p><input type="text" name="name" th:value="${name}"/></p>
            <p>ログインID</p>
            <p><input type="text" name="afterId" th:value="${afterId}"/></p>
            <p>Password</p>
            <p><input type="password" name="password" th:value="${pass}" /></p>

            <input type="hidden" name="beforeId" th:value="${beforeId}"/>
            <p><input type="submit" value="編集適用" id="button"></p>
        </form>

        <form th:action="@{/adm_user_list}" name="new" method="get">
            <p><input type="submit"  value="戻る"></p>
        </form>
    </body>

</html>