<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>

    <!--css導入リンク-->
    <link href="css/design.css" rel="stylesheet" type="text/css">
    <link href="css/global.css" rel="stylesheet" type="text/css">

    <script>

            function delete_alert(){

                var checked;
                checked = window.confirm("削除しますか？");

                return checked;
            }


             function edit_check(){
               if (form_edit.afterName.value == "" || form_edit.afterId.value == "" || form_edit.afterPass.value == ""){
                    alert("入力に不備があります");    //エラーメッセージを出力
                    return false;    //送信ボタン本来の動作をキャンセルします
               }
               alert("登録完了");
               return true;
            }

    </script>

</head>

<body>
<trans class="translate">
    <li><a href="user_diligence" >勤怠入力</a></li>
    <li><a href="user_attendanceList" >勤怠状況一覧</a></li>
    <li><a href="adm_user_list" >ユーザー管理</a></li>
    <li><a href="adm_display_times" >勤怠時間集計</a></li>
    <li><a href="adm_select_display_times" >個人別勤怠状況</a></li>
    <li><a href="logout_check" >ログアウト</a></li>
</trans>


</br></br>

<form action="user_edit_check" method="post" name="form_edit" >
    <h1 class="center">ユーザー編集</h1>
    <h1 class="center" th:text="${errors}" ></h1>
    <p>名前</p>
    <p><input type="text" name="afterName" th:value="${name}"/></p>
    <p>ログインID</p>
    <p><input type="text" name="afterId" th:value="${id}"/></p>
    <p>Password</p>
    <p><input type="password" name="afterPass" th:value="${pass}" /></p>

    <input type="hidden" name="beforeId" th:value="${id}"/>
    <input type="hidden" name="beforeName" th:value="${name}"/>
    <input type="hidden" name="beforePass" th:value="${pass}"/>

    <p>
        <select name="authority">
            <option value="user" th:selected="${role == 'user'}">ユーザー</option>
            <option value="admin" th:selected="${role == 'admin'}" >管理者</option>
        </select>
    </p>



    <p><input type="submit" value="編集適用"  onclick="return edit_check();"></p>
</form>


<form action="delete_check" name="delete" method="post" >
    <input type="hidden" name ="beforeId" th:value="${id}" >
    <p><input type="submit" th:value="削除" onclick="return delete_alert();"></p>
</form>


<form th:action="@{/adm_user_list}" name="new" method="get">
    <p><input type="submit"  value="戻る"></p>
</form>
</body>

</html>
