<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title></title>
        
        <!--css導入リンク-->
        <link href="css/design.css" rel="stylesheet" type="text/css">
        <link href="css/global.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <trans class="translate">
            <li><a href="adm_userList" >ユーザー管理</a></li>
            <li><a href="#" >勤務場所管理</a></li>
            <li><a href="adm_display_times" >勤怠時間集計</a></li>
            <li><a href="logout_check" >ログアウト</a></li>
         </trans>
 
        </br></br></br>
        <h1 class="center">選択した人の勤務時間集計一覧</h1>
        <h1><p th:text="| ${fromJV_left_month}/15 ~ ${fromJV_right_month}/14|"></p></h1></br>
        <table id="table_center" border="1" width="1000" >

            <p>
            <form method="post" action="/adm_select_disp_times">
                <select class="place" name="place">
                    <option value="null" text=""></option>
                    <option th:each="usersList : ${fromJV_user}" th:value="${usersList['id']}"
                            th:text="${usersList['name']}"></option>
                </select>

                <input type="submit" value="検索" id="button" name="action"></input></br></br>

                <input type="submit" class="btn-square-shadow" value="前月へ"  id="back" name="action"></input>
                <input type="submit" class="btn-square-shadow" value="次月へ"  id="next" name="action"></input>
            </form>
            </p>
            <tr>
                <th>日時</th>
                <th>勤務開始時間</th>
                <th>勤務終了時間</th>
                <th>休憩時間</th>
                <th>労働時間</th>
            </tr>
            <tr th:each="attendance : ${fromJV_sel}">
                <td th:text="${attendance['date']}"></td>
                <td th:text="${attendance['begin_time']}"></td>
                <td th:text="${attendance['end_time']}"></td>
                <td th:text="${attendance['break_sum']}"></td>
                <td th:text="${attendance['working']}"></td>
            </tr>

         </table>


        
    </body>

</html>